<!-- <app-header></app-header> -->
<!-- <div class="container-fluid">
    <span class="float-left">॥ श्री लक्ष्मीनारायण नमः ॥</span>  <span class="float-right">॥ श्री गणेशाय नमः ॥ </span>
</div> -->
<!-- <div class="text-center container-fluid row">
    <span class="float-left">
            <img src="./assets/images/laxminarayan.jpg" class="rounded responsive-image" style="float: center; margin: 0px 15px 15px 0px;" width="250" alt="laxminarayan">
    </span>
    <span class="float-right">
            <img src="./assets/images/laxminarayan.jpg" class="rounded responsive-image" style="float: center; margin: 0px 15px 15px 0px;" width="250" alt="laxminarayan">
    </span>   
</div>
<div class="jumbotron align-content-center">
    <h1 class="display-4">Karul</h1>
    <p class="lead">Konkan - Guhagar</p>
    <hr class="my-2"> 
</div>  -->
