<nav class="navbar navbar-dark bg-dark mb-5 header">
    <a class="navbar-brand" (click)="routerFun('/home')" ><img src="./assets/images/favicon.png" class="rounded" height="50px" alt="karul logo"></a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav"> 
        <!-- <a class="nav-item nav-link" [ngClass]="{'active': activeSection == true}" href="#">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a> -->
        <a *ngFor="let data of sectionHeaderData" class="nav-item nav-link" routerLinkActive="active" 
         (click)="routerFun(data.routerUrl)">
          <span> {{ data.headerName }} </span> 
        </a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/viraj02" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/virajjoshi02" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </nav>
  <marquee style="color: red" >Website is under development. Many of the functionality many not run. 
    Every Sat-Sun website will get update.
    </marquee>