<br><br><br>
<div class="container-fluid">
        <h2>About</h2>
    <div class="jumbotron">
        <h3> Hi, I'm Viraj Frontend Developer. </h3>
        <div>
            <ul>
                <li>This is my first website.</li>
                <li>This website not official karul website.</li>
                <li>This is non funded website.</li>
                <li>There is also options where you can suggest me what information I can add. <span> <i> ( <- Work in progress.) </i>  </span> </li>
                <li>Many more things to come ...</li>
            </ul>
        </div>
    </div>
</div>